#header {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

main {
  margin-top: 20px !important;
}

main h2 {
  margin: 0 0 10px 0;
  color: #2e8b57;
}

#favorite-recipes-table {
  width: 100%;
  display: table;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#favorite-recipes-table th {
  background-color: #2e8b57;
  color: #fff;
}

#favorite-recipes-table tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#favorite-recipes-table tr:nth-child(even) {
  background: #ebebeb;
}
