main {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#form h2 {
  color: #2e8b57;
  margin: 0;
}

.form-icons {
  color: #2e8b57;
}

#time-and-portion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#time-and-portion input {
  width: 50px;
}

#time-and-portion label,
#image label,
label[for="ingredients"],
label[for="preparation-mode"] {
  display: flex;
  align-items: center;
  gap: 5px;
}

#time-and-portion div {
  display: flex;
  align-items: center;
  gap: 10px;
}

#image {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

#image label {
  display: flex;
  align-items: center;
}

#form #recipe-name,
#time-and-portion input,
#recipe-category,
#ingredients,
#preparation-mode,
#image {
  background-color: #f7f7f7;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  font-family: "Poppins", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

input[type="file"] {
  font-family: "Poppins", sans-serif;
}

#form-submit {
  font-family: "Poppins", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #2e8b57;
  border: none;
  color: white;
  padding: 10px 5px;
  border-radius: 6px;
  cursor: pointer;
}

#form-submit:hover {
  background-color: #3a9e64;
}

#form input:focus,
#ingredients:focus,
#preparation-mode:focus,
#recipe-category:focus {
  outline: #2e8b57 solid 1px;
}
